body {
    font-family: 'Georgia', 'Source Han Serif CN', serif;
}

em {
    font-style: normal;
    font-weight: bold;
    color: #001689;
}

.translator-list>li.translator {
    margin-bottom: .5em;
}

.translator-list>li.translator:last-child {
    margin-bottom: 0;
}